* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color:white;
}
p {
    padding-left: 100px;
    background-color: white;
    
}
br {
  display: block; 
  content: "";
  margin-top: 150px; 
}

.one {
    font-family: 'Freehand', cursive;
    font-size: 20px;
    border: dotted 2px red;
}

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: rgb(177, 33, 33);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0, 0, 0);
  }

  .home-button {
    position:fixed;
    display: inline-block;
    margin-top:520px;
}
.home-button .hm-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.home-button:hover .hm-top {
    display: inline;
}

.home-button:hover .hm-bot {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}